<h1>New Coffee Form</h1>

<form action="/coffees" method="post">
  <label for="origin">Origin:</label>
  <input id="origin" type="text" name="coffee[origin]" />
  <label for="price">Price:</label>
  <input id="price" type="text" name="coffee[price]" />
  <input type="submit" value="Create New Coffee" />
</form>
